In [65]:
#import necessary libraries for the execution of the project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [218]:
# 2a Importing - import data from a flat file (csv) and create a dataframe - project dataset
uci_bike_rentals = pd.read_csv('uci_bike_rentals.csv')

In [67]:
#2b Sample data set from Dublin Bikes - Demonstrate importing data using API - Step 1 Successfully connect to website using GET request
import requests

dublin_bikes = requests.get('https://www.dublinbikes.ie/en/home')
print(dublin_bikes.status_code)

200

In [68]:
#2b - Importing data using API - Step 1 Read data from JSON
import requests
dublin_bikes = requests.get('https://data.smartdublin.ie/dublinbikes-openapi.json')
json_data = dublin_bikes.json()
print(json_data.keys())
for k in json_data.keys():
    print(k + ': ', json_data[k])

dict_keys(['openapi', 'servers', 'info', 'paths', 'components', 'tags'])
openapi:  3.0.2
servers:  [{'url': 'https://data.smartdublin.ie/dublinbikes-api'}]
info:  {'title': 'SmartDublin Dublinbikes API', 'description': "This is the API associated with [SmartDublin's Dublinbikes Api dataset](https://data.smartdublin.ie/dataset/dublinbikes-api). Dublinbikes is a bike share scheme in operation in Dublin City. Bicycles may be rented from and returned to designated cycle stations. There are also rollups of historic bike stations data (30 minutes granularity) available as downloadable CSV resources.", 'version': '0.1.0'}
paths:  {'/last_snapshot/': {'get': {'tags': ['Last Snapshot'], 'summary': 'Last Snapshot', 'description': 'Fetch the last status for every Dublinbikes Station\n\nFields:\n\n- **id**: Unique record id\n- **harvest_time**: Data retrieval timestamp\n- **station_id**: Unique station id\n- **available_bike_stands**: Available bike stands\n- **bike_stands**: Total bike stands\n- **available_bikes**: Available bikes\n- **banking**:\n- **bonus**:\n- **last_update**: Last updated time\n- **status**:\n- **address**: Station address\n- **name**: Station name\n- **latitude**: Station latitude\n- **longitude**: Station longitude', 'operationId': 'last_snapshot_last_snapshot__get', 'responses': {'201': {'description': 'Successful Response', 'content': {'application/json': {'schema': {'title': 'Response Last Snapshot Last Snapshot  Get', 'type': 'array', 'items': {'$ref': '#/components/schemas/Readings'}}}}}}}}, '/historical/': {'get': {'tags': ['Historical records'], 'summary': 'Historical', 'description': 'Fetch a 1 hour historical report of every Dublinbikes Station (5 minutes granularity)\n\nFields:\n\n- **id**: Unique record id\n- **harvest_time**: Data retrieval timestamp\n- **station_id**: Unique station id\n- **available_bike_stands**: Available bike stands\n- **bike_stands**: Total bike stands\n- **available_bikes**: Available bikes\n- **banking**:\n- **bonus**:\n- **last_update**: Last updated time\n- **status**:\n- **address**: Station address\n- **name**: Station name\n- **latitude**: Station latitude\n- **longitude**: Station longitude', 'operationId': 'historical_historical__get', 'parameters': [{'description': 'Initial datetime: YYYY-MM-DD HH:mm:SS \nIf the datetime is not valid, the input box will flash in red', 'required': False, 'schema': {'title': 'Initial datetime', 'type': 'string', 'description': 'Initial datetime: YYYY-MM-DD HH:mm:SS \nIf the datetime is not valid, the input box will flash in red', 'format': 'date-time', 'default': '2021-04-13 17:00:00'}, 'name': 'init', 'in': 'query'}], 'responses': {'201': {'description': 'Successful Response', 'content': {'application/json': {'schema': {'title': 'Response Historical Historical  Get', 'type': 'array', 'items': {'$ref': '#/components/schemas/Readings'}}}}}, '422': {'description': 'Validation Error', 'content': {'application/json': {'schema': {'$ref': '#/components/schemas/HTTPValidationError'}}}}}}}}
components:  {'schemas': {'HTTPValidationError': {'title': 'HTTPValidationError', 'type': 'object', 'properties': {'detail': {'title': 'Detail', 'type': 'array', 'items': {'$ref': '#/components/schemas/ValidationError'}}}}, 'Readings': {'title': 'Readings', 'required': ['id', 'harvest_time', 'station_id', 'available_bike_stands', 'bike_stands', 'available_bikes', 'banking', 'bonus', 'last_update', 'status', 'address', 'name', 'latitude', 'longitude'], 'type': 'object', 'properties': {'id': {'title': 'Id', 'type': 'integer'}, 'harvest_time': {'title': 'Harvest Time', 'type': 'string', 'format': 'date-time'}, 'station_id': {'title': 'Station Id', 'type': 'integer'}, 'available_bike_stands': {'title': 'Available Bike Stands', 'type': 'integer'}, 'bike_stands': {'title': 'Bike Stands', 'type': 'integer'}, 'available_bikes': {'title': 'Available Bikes', 'type': 'integer'}, 'banking': {'title': 'Banking', 'type': 'boolean'}, 'bonus': {'title': 'Bonus', 'type': 'boolean'}, 'last_update': {'title': 'Last Update', 'type': 'string', 'format': 'date-time'}, 'status': {'title': 'Status', 'type': 'string'}, 'address': {'title': 'Address', 'type': 'string'}, 'name': {'title': 'Name', 'type': 'string'}, 'latitude': {'title': 'Latitude', 'type': 'string'}, 'longitude': {'title': 'Longitude', 'type': 'string'}}}, 'ValidationError': {'title': 'ValidationError', 'required': ['loc', 'msg', 'type'], 'type': 'object', 'properties': {'loc': {'title': 'Location', 'type': 'array', 'items': {'type': 'string'}}, 'msg': {'title': 'Message', 'type': 'string'}, 'type': {'title': 'Error Type', 'type': 'string'}}}}}
tags:  [{'name': 'Last Snapshot', 'description': 'Fetch the last status for every Dublinbikes Station'}, {'name': 'Historical records', 'description': 'Fetch a 1 hour historical report of every Dublinbikes Station (5 minutes granularity)'}]

In [69]:
#2b - Extract a sample key (tags)
json_data['tags']

[{'name': 'Last Snapshot',
  'description': 'Fetch the last status for every Dublinbikes Station'},
 {'name': 'Historical records',
  'description': 'Fetch a 1 hour historical report of every Dublinbikes Station (5 minutes granularity)'}]

In [70]:
#2b - Create a list of dictionaries variable and convert it into dataframe
tags_dict = [{'name': 'Last Snapshot',
  'description': 'Fetch the last status for every Dublinbikes Station'},
 {'name': 'Historical records',
  'description': 'Fetch a 1 hour historical report of every Dublinbikes Station (5 minutes granularity)'}]
bike_station = pd.DataFrame(tags_dict)
print(bike_station)

                 name                                        description
0       Last Snapshot  Fetch the last status for every Dublinbikes St...
1  Historical records  Fetch a 1 hour historical report of every Dubl...

In [224]:
# UCI Bike Rental dataset - Understand data sample using df.head()
uci_bike_rentals.head(5)

,id,year,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,3,2012,23,3,0,0,2,23.78,27.275,73,11.0014,133
1,4,2011,8,3,0,0,1,27.88,31.820,57,0.0000,132
2,5,2012,2,1,0,1,1,20.50,24.240,59,0.0000,19
3,7,2011,20,3,0,1,3,25.42,28.790,83,19.9995,58
4,8,2011,17,3,0,1,3,26.24,28.790,89,0.0000,285

In [225]:
# UCI Bike Rental dataset - Understand data sample using df.tail()
uci_bike_rentals.tail(5)

,id,year,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
7684,10882,2012,18,1,0,1,1,13.94,15.150,42,22.0028,457
7685,10883,2012,3,1,0,1,1,9.02,11.365,51,11.0014,1
7686,10884,2012,15,2,0,0,1,21.32,25.000,19,27.9993,626
7687,10885,2011,19,4,0,1,1,12.30,14.395,45,15.0013,217
7688,10886,2012,21,3,0,1,1,30.34,34.850,66,7.0015,381

In [226]:
# Understand the size of the dataset - rows and columns
uci_bike_rentals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7689 entries, 0 to 7688
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          7689 non-null   int64
 1   year        7689 non-null   int64
 2   hour        7689 non-null   int64
 3   season      7689 non-null   int64
 4   holiday     7689 non-null   int64
 5   workingday  7689 non-null   int64
 6   weather     7689 non-null   int64
 7   temp        7689 non-null   float64
 8   atemp       7689 non-null   float64
 9   humidity    7689 non-null   int64
 10  windspeed   7689 non-null   float64
 11  count       7689 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 721.0 KB

In [227]:
# Check dataset for null values - observed no null values
uci_bike_rentals.isnull().any()

id            False
year          False
hour          False
season        False
holiday       False
workingday    False
weather       False
temp          False
atemp         False
humidity      False
windspeed     False
count         False
dtype: bool

In [228]:
# Drop duplicates - observed no duplicates
drop_duplicates = uci_bike_rentals.drop_duplicates()
print(uci_bike_rentals.shape, drop_duplicates.shape)

(7689, 12) (7689, 12)

In [229]:
# Demonstrate 'Remove duplicate rows' 
# Create a copy of the original dataframe, 
# Create new row as a dictionary and append
uci_bike_rentals1 = uci_bike_rentals.copy()
new_row = {'id':10886, 'year':2012, 'hour':21, 'season':3, 'holiday':0, 'workingday':1, 'weather':1, 'temp': 30.34, 'atemp':34.850, 'humidity':66, 'windspeed': 7.0015, 'count':381}
uci_bike_rentals1 = uci_bike_rentals.append(new_row, ignore_index = True)
print(uci_bike_rentals1)

           id    year  hour  season  holiday  workingday  weather   temp  \
0         3.0  2012.0  23.0     3.0      0.0         0.0      2.0  23.78
1         4.0  2011.0   8.0     3.0      0.0         0.0      1.0  27.88
2         5.0  2012.0   2.0     1.0      0.0         1.0      1.0  20.50
3         7.0  2011.0  20.0     3.0      0.0         1.0      3.0  25.42
4         8.0  2011.0  17.0     3.0      0.0         1.0      3.0  26.24
...       ...     ...   ...     ...      ...         ...      ...    ...
7685  10883.0  2012.0   3.0     1.0      0.0         1.0      1.0   9.02
7686  10884.0  2012.0  15.0     2.0      0.0         0.0      1.0  21.32
7687  10885.0  2011.0  19.0     4.0      0.0         1.0      1.0  12.30
7688  10886.0  2012.0  21.0     3.0      0.0         1.0      1.0  30.34
7689  10886.0  2012.0  21.0     3.0      0.0         1.0      1.0  30.34

       atemp  humidity  windspeed  count
0     27.275      73.0    11.0014  133.0
1     31.820      57.0     0.0000  132.0
2     24.240      59.0     0.0000   19.0
3     28.790      83.0    19.9995   58.0
4     28.790      89.0     0.0000  285.0
...      ...       ...        ...    ...
7685  11.365      51.0    11.0014    1.0
7686  25.000      19.0    27.9993  626.0
7687  14.395      45.0    15.0013  217.0
7688  34.850      66.0     7.0015  381.0
7689  34.850      66.0     7.0015  381.0

[7690 rows x 12 columns]

In [116]:
# Remove duplicates - found 1 duplicate
drop_duplicates = uci_bike_rentals1.drop_duplicates()
print(uci_bike_rentals1.shape, drop_duplicates.shape)

(7689, 12) (7689, 12)

In [124]:
# Demonstrate 'fill missing values' - replace Season 1 with NaN value
uci_bike_rentals1 = uci_bike_rentals.copy()
uci_bike_rentals1.loc[(uci_bike_rentals1['season'] ==1), 'season'] = 'NaN'
print(uci_bike_rentals1)

         id  year  hour season  holiday  workingday  weather   temp   atemp  \
0         3  2012    23      3        0           0        2  23.78  27.275
1         4  2011     8      3        0           0        1  27.88  31.820
2         5  2012     2    NaN        0           1        1  20.50  24.240
3         7  2011    20      3        0           1        3  25.42  28.790
4         8  2011    17      3        0           1        3  26.24  28.790
...     ...   ...   ...    ...      ...         ...      ...    ...     ...
7684  10882  2012    18    NaN        0           1        1  13.94  15.150
7685  10883  2012     3    NaN        0           1        1   9.02  11.365
7686  10884  2012    15      2        0           0        1  21.32  25.000
7687  10885  2011    19      4        0           1        1  12.30  14.395
7688  10886  2012    21      3        0           1        1  30.34  34.850

      humidity  windspeed  count
0           73    11.0014    133
1           57     0.0000    132
2           59     0.0000     19
3           83    19.9995     58
4           89     0.0000    285
...        ...        ...    ...
7684        42    22.0028    457
7685        51    11.0014      1
7686        19    27.9993    626
7687        45    15.0013    217
7688        66     7.0015    381

[7689 rows x 12 columns]

In [125]:
# Replace NaN values
cleaned_data = uci_bike_rentals1.fillna('')
print(cleaned_data)

         id  year  hour season  holiday  workingday  weather   temp   atemp  \
0         3  2012    23      3        0           0        2  23.78  27.275
1         4  2011     8      3        0           0        1  27.88  31.820
2         5  2012     2    NaN        0           1        1  20.50  24.240
3         7  2011    20      3        0           1        3  25.42  28.790
4         8  2011    17      3        0           1        3  26.24  28.790
...     ...   ...   ...    ...      ...         ...      ...    ...     ...
7684  10882  2012    18    NaN        0           1        1  13.94  15.150
7685  10883  2012     3    NaN        0           1        1   9.02  11.365
7686  10884  2012    15      2        0           0        1  21.32  25.000
7687  10885  2011    19      4        0           1        1  12.30  14.395
7688  10886  2012    21      3        0           1        1  30.34  34.850

      humidity  windspeed  count
0           73    11.0014    133
1           57     0.0000    132
2           59     0.0000     19
3           83    19.9995     58
4           89     0.0000    285
...        ...        ...    ...
7684        42    22.0028    457
7685        51    11.0014      1
7686        19    27.9993    626
7687        45    15.0013    217
7688        66     7.0015    381

[7689 rows x 12 columns]

In [223]:
# Demonstrate Merge data 
# Step 1 - slice original dataset dataframe to only show the first 10 rows/and columns that exclude weather attributes
# Create new dataframe from above - year_bike
year_bike = uci_bike_rentals.iloc[0:10,0:6]
year_bike1 = pd.DataFrame(year_bike)
print(year_bike1)

   id  year  hour  season  holiday  workingday
0   3  2012    23       3        0           0
1   4  2011     8       3        0           0
2   5  2012     2       1        0           1
3   7  2011    20       3        0           1
4   8  2011    17       3        0           1
5   9  2011    19       2        0           1
6  10  2012    23       2        0           1
7  11  2011    22       3        0           1
8  12  2011    14       3        0           1
9  13  2011    13       1        0           0

In [187]:
#Demonstrate Merge data
#Step 2 - slice original dataset dataframe to only show the first 10 rows/and columns that include weather attributes
#Create new dataframe from above - weather_bike
weather_bike = uci_bike_rentals.iloc[0:10,6:12]
weather_bike1 = pd.DataFrame(weather_bike) 
print(weather_bike1)

   weather   temp   atemp  humidity  windspeed  count
0        2  23.78  27.275        73    11.0014    133
1        1  27.88  31.820        57     0.0000    132
2        1  20.50  24.240        59     0.0000     19
3        3  25.42  28.790        83    19.9995     58
4        3  26.24  28.790        89     0.0000    285
5        2  34.44  37.120        39    22.0028    326
6        2  23.78  27.275        78     7.0015     75
7        1  25.42  27.275        94     0.0000    160
8        1  35.26  41.665        53    19.0012    134
9        2  18.86  22.725        72    19.9995     94

In [190]:
# Demonstrate Merge data 
# Step 3 - merge data frames with different column names
merged_bikes = year_bike1.merge(weather_bike1,left_on ='id', right_on ='weather')
print(merged_bikes)

   id  year  hour  season  holiday  workingday  weather   temp  atemp  \
0   3  2012    23       3        0           0        3  25.42  28.79
1   3  2012    23       3        0           0        3  26.24  28.79

   humidity  windspeed  count
0        83    19.9995     58
1        89     0.0000    285

In [215]:
# Sort data (uci_bike_rentals) by year,season column to get ready for visualistion
uci_bike_rentals.sort_values(['year','season'])

                id  hour  holiday  workingday  weather   temp   atemp  \
year season
2011 1          13    13        0           0        2  18.86  22.725
     1          51     8        0           0        1   5.74   7.575
     1          65     8        0           0        3  16.40  20.455
     1          68     6        0           0        2  17.22  21.210
     1          75    10        0           0        1   5.74   5.305
...            ...   ...      ...         ...      ...    ...     ...
2012 4       10857    10        0           0        2  12.30  16.665
     4       10859    21        0           0        1  13.94  17.425
     4       10863     4        0           1        1  14.76  18.180
     4       10869    11        0           1        1  14.76  16.665
     4       10877     6        0           1        2  10.66  12.120

             humidity  windspeed  count
year season
2011 1             72    19.9995     94
     1             86     8.9981     30
     1             71    15.0013      8
     1             94    23.9994      2
     1             43    26.0027     49
...               ...        ...    ...
2012 4             87     0.0000    293
     4             53     7.0015    166
     4             76     7.0015      8
     4             29    26.0027    171
     4             56    19.0012    118

[7689 rows x 10 columns]

In [216]:
# Group dataset by year,season and get average no of rented bikes and average temperature
uci_bike_rentals.groupby(['year','season'])[['count','temp']].mean()

                  count       temp
year season
2011 1        72.561311  11.297104
     2       163.146290  22.477597
     3       186.480730  28.347383
     4       152.022222  16.571455
2012 1       157.130890  13.688419
     2       274.936656  23.315929
     3       284.595611  29.409467
     4       241.172193  16.693797

In [234]:
# set year and season as index 
uci_bike_rentals_ind = uci_bike_rentals.set_index(['year', 'season'])
print(uci_bike_rentals_ind)

                id  hour  holiday  workingday  weather   temp   atemp  \
year season
2012 3           3    23        0           0        2  23.78  27.275
2011 3           4     8        0           0        1  27.88  31.820
2012 1           5     2        0           1        1  20.50  24.240
2011 3           7    20        0           1        3  25.42  28.790
     3           8    17        0           1        3  26.24  28.790
...            ...   ...      ...         ...      ...    ...     ...
2012 1       10882    18        0           1        1  13.94  15.150
     1       10883     3        0           1        1   9.02  11.365
     2       10884    15        0           0        1  21.32  25.000
2011 4       10885    19        0           1        1  12.30  14.395
2012 3       10886    21        0           1        1  30.34  34.850

             humidity  windspeed  count
year season
2012 3             73    11.0014    133
2011 3             57     0.0000    132
2012 1             59     0.0000     19
2011 3             83    19.9995     58
     3             89     0.0000    285
...               ...        ...    ...
2012 1             42    22.0028    457
     1             51    11.0014      1
     2             19    27.9993    626
2011 4             45    15.0013    217
2012 3             66     7.0015    381

[7689 rows x 10 columns]

In [235]:
# sort indexes
uci_bike_rentals_ind.sort_index()

                id  hour  holiday  workingday  weather   temp   atemp  \
year season
2011 1          13    13        0           0        2  18.86  22.725
     1          51     8        0           0        1   5.74   7.575
     1          65     8        0           0        3  16.40  20.455
     1          68     6        0           0        2  17.22  21.210
     1          75    10        0           0        1   5.74   5.305
...            ...   ...      ...         ...      ...    ...     ...
2012 4       10857    10        0           0        2  12.30  16.665
     4       10859    21        0           0        1  13.94  17.425
     4       10863     4        0           1        1  14.76  18.180
     4       10869    11        0           1        1  14.76  16.665
     4       10877     6        0           1        2  10.66  12.120

             humidity  windspeed  count
year season
2011 1             72    19.9995     94
     1             86     8.9981     30
     1             71    15.0013      8
     1             94    23.9994      2
     1             43    26.0027     49
...               ...        ...    ...
2012 4             87     0.0000    293
     4             53     7.0015    166
     4             76     7.0015      8
     4             29    26.0027    171
     4             56    19.0012    118

[7689 rows x 10 columns]